<h1>PLAN</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Plan Name : </strong>
    <%= @plan.name %></h3>
    <br>
  </div>
  <div class="panel-heading">
    <strong>Monthly Fee: </strong>
    <%= number_to_currency(@plan.monthly_fee) %>
    <br/><br/>
    <% if current_user.role == "admin" %>
      <%= link_to "create features", new_plan_feature_path(@plan), class: 'btn btn-primary' %>
    <% end %>
    <br><br>
    <%= render @plan.features %>
    <% if current_user.role == "buyer" %>
      <% if find_active_subscription(@plan) %>
        <%= link_to "Buy Plan", plan_subscriptions_path(@plan , @subscription),class: 'btn btn-primary' ,method: :post %>
      <%end%>
    <%end%>
  </div>
</div>
    
    